
extends main
block header
    h3 Hello, #{customer},
    | You've been successfully registered,
    br
block content
    div
        | We are glad to inform you are #{age} years old.
        br
        | You use #{email} to communicate with us.
        br
         |Status #{role} assigned to you.
