
extends main
block header
    h1 Hello, #{customer},
    | Here is important information for you,
    br
block content
    div
        | We are glad to inform you are #{age} years old.
        br
        | You've just successfuly logged in.
