doctype html
html
    head
        style
            include style.css
    body
        div.header
            block header
            
        div.content
            block content
        div.footer
            | Sincerelly yours,
            br
            | develores team.
            br
            |
            a(href="http://example.com") Click here