<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework #2</title>
    <link rel="stylesheet" href="./stylesLogin.css">
</head>
<body>

<div class="div-body">
    <form action="/login" method="post">
        <div class="div-item"><label> Enter login:</label></div>
        <div class="div-item"><input type="text" name="name"></div>
        <div class="div-item"><label> Enter password:</label></div>
        <div class="div-item"><input type="text" name="password"></div>
        <div class="div-item">
            <input class="input-button"type="submit" value="Login">
        </div>
    </form>
</div>

</body>
</html>