
extends main
block header
    h1 Hello, customer,
    | Here is important information for you,
    br
block content
    div
        | Hello #{userName}
        br
        | You've just successfuly logged in.
